*
!*/

/tmp/
/build/
/release/
/bin/
/lib/

!.gitignore
!.gitkeep
!.clang-format
!/.github/**/*.yml
!README.md
!LICENSE
!Doxyfile
!CMakeLists.txt
!/deps/**/*

!/include/**/*.h
!/include/**/*.hpp

!/test/**/*
!/example/**/*

!/docs/**/*
/docs/html/
